@model JJML20241103.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<style>
    /* Estilo para las descripciones de la lista de definición personalizada */
    .custom-dl dd {
        border-bottom: none; /* Elimina la línea inferior */
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Empleado</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-right">Nombre:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
                <dt class="col-sm-3 text-right">Apellido:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Apellido)</dd>
                <dt class="col-sm-3 text-right">Edad:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Edad)</dd>
                <dt class="col-sm-3 text-right">Cargo:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cargo)</dd>
                <dt class="col-sm-3 text-right">Fecha de Contratación:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaContratacion)</dd>
            </dl>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h4 class="card-title">Referencias Personales</h4>
        </div>
        <div class="card-body">
            <div class="row row-cols-md-12">
                @await Html.PartialAsync("_DetalleRefPersonales", Model.ReferenciasPersonales)
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
